<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hipad.billproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="hipad.bill.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/aazhangben"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aazhangben"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="hipad.bill.ui.AccountBookAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hipad.bill.ui.AccountInfoAty" />
        <activity android:name="hipad.bill.ui.AccountStatisAty" />
        <activity
            android:name="hipad.bill.ui.AccountMonthAty"
            android:label="@string/title_activity_account_month_aty"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="hipad.bill.ui.ColumnInfoActivity" />
        <activity android:name="hipad.bill.ui.AccRemarkAty" />
        <activity android:name="hipad.bill.ui.YearSelectAty" />
        <activity
            android:name="hipad.bill.ui.EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="hipad.bill.ui.LoginActivity"></activity>
        <activity android:name="hipad.bill.ui.RegisterActivity"></activity>
    </application>

</manifest>